body{
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
}
p{
  margin: auto;
  border-style: dotted;
  border-width: 4px;
  border-color: red;
}
h1{
  margin: auto;
}
